html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* fonts */
@font-face {
  font-family: "yekanbakh-bold";
  src: url("./fonts/Yekan-Bakh-EN-Bold.ttf");
}

#box-bill {
  width: 603px;
  height: 944px;
  border: 7px solid rgba(241, 196, 15, 0.5);
  border-radius: 36.3px;
  margin: 40px 0;
}
#box-top {
  height: 60px;
  font-size: 22px;
  color: black;
  font-family: "yekanbakh-bold";
  box-shadow: 0px 10px rgba(255, 255, 255, 0), 0 6px 20px 0 #f4f4f4;
}
#box-item {
  height: 650px;
  /* background-color: red; */
}
#box-calc {
  height: 219px;
  background-color: blue;
  box-shadow: 0px -10px rgba(255, 255, 255, 0), 0 6px 20px 0 #f4f4f4;
}
#test {
  color: rgba(0, 0, 0, 0.71);
  font-size: 16.4;
  font-family: "yekanbakh-bold";
}
