html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* fonts */
@font-face {
  font-family: "yekanbakh-bold";
  src: url("./fonts/Shabnam-Bold-FD.ttf");
}

#box-bill {
  width: 603px;
  height: 944px;
  border: 7px solid rgba(241, 196, 15, 0.5);
  border-radius: 36.3px;
  margin: 40px 0;
}
#box-top {
  height: 60px;
  font-size: 22px;
  color: black;
  font-family: "yekanbakh-bold";
  box-shadow: 0px 10px rgba(255, 255, 255, 0), 0 6px 20px 0 #f4f4f4;
}

#box-item::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
#box-item {
  -ms-overflow-style: none;
}

#box-item {
  height: 650px;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
#box-calc {
  height: 219px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.082);
}
#lauout-calc {
  color: rgba(0, 0, 0, 0.71);
  font-size: 16.4;
  font-family: "yekanbakh-bold";
}
#button {
  width: 280px;
  height: 67px;
  border-radius: 11.7px;
  background-color: #e67e22;
  font-family: "yekanbakh-bold";
  font-size: 25px;
  color: white;
  border: none;
}
#discount-code {
  width: 280px;
  height: 45px;
  border-radius: 22.8px;
  border: 1.2px solid #e67e22;
  background-color: transparent;
  color: rgba(31, 31, 31, 0.71);
  outline: 0;
  text-align: center;
  font-size: 20px;
  font-family: "yekanbakh-bold";
}
#discount-code::placeholder {
  color: #f39c12;
}
#btn-discount-code {
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #f39c12;
  left: 20px;
  top: 19px;
  cursor: pointer;
}
#total-price {
  font-size: 36px;
}
#box-item-food {
  /* background-color: red; */
  /* border-bottom: 2px solid #c6c6c6; */
}

.txt-price {
  font-size: 23px;
  font-family: "yekanbakh-bold";
}
.name-food {
  font-size: 18px;
  color: black;
  font-family: "yekanbakh-bold";
}

.count {
  width: 30px;
  text-align: center;
  border: none;
}
.minus {
  background-color: #f39c12;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.226);
  cursor: pointer;
}
.minus:active {
  box-shadow: 0px 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.plus {
  background-color: #f39c12;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.226);
  cursor: pointer;
}
.plus:active {
  box-shadow: 0px 0px;
}
